* {
  box-sizing: border-box;
}

body {
  /* font-family: 'Press Start 2P', sans-serif; */
  font-family: 'Jersey 10', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  --brown: #5a310c;
}
.wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* opacity: 0.2; */
}
.menu {
  gap: 20px;
  padding: 40px 24px 20px;
  min-width: 300px;
  max-width: 320px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--brown);
  color: #fff;
  text-align: justify;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 8px calc(100% / 15 - 14px) 0;
  display: flex;
  justify-content: space-between;
}

label {
  font-size: 18px;
  color: var(--brown);
}

h1,
h2,
p {
  margin: 0;
  letter-spacing: 1px;
}

h1 {
  font-size: 62px;
  font-weight: 400;
  line-height: 1rem;
  margin-bottom: 10px;
}

p {
  font-size: 24px;
}

button {
  font-family: 'Jersey 10', sans-serif;
  border: 0;
  background-color: hotpink;
  color: #fff;
  padding: 8px 20px;
  font-size: 30px;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
}

button:hover {
  background-color: rgb(44, 144, 252);
}

.start-btn {
  margin-top: 10px;
}

.sign {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
  text-transform: none;
  z-index: 1;
}

a {
  color: #fff;
  text-decoration: none;
  text-transform: none;
}

a:hover {
  text-decoration: underline;
}

.d-none {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--brown);
  /* height: 50px; */
  width: 100%;
  padding: 8px;
  z-index: 1;
}

footer > .btn {
  padding: 8px 12px;
  font-size: 18px;
  z-index: 1;
}

.sound-btn {
  margin-right: 5px;
}

.pix {
  display: inline-block;
  /* border: 1px solid yellow; */
}

.pix::after {
  content: '';
  position: absolute;
  /* display: inline-block; */
  /* border: 1px solid yellow; */
  image-rendering: pixelated;
  width: 48px;
  height: 48px;
}

.puppy {
  width: 40px;
  height: 20px;
}

.puppy:after {
  background-size: 720px 192px;
  background-image: url('/puppies.png');
  background-position: calc(720px * (5 / 15)) 0;
  transform: translate(-24%, -40%);
}

.toy {
  width: 30px;
  height: 20px;
}

.toy::after {
  background-size: 192px 48px;
  background-image: url('/toys.png');
  background-position: 0 0;
  transform: translate(-25%, -25%);
}

.bowl {
  width: 30px;
  height: 20px;
}

.bowl::after {
  background-size: 192px 192px;
  background-image: url('/foods.png');
  background-position: 96px 96px;
  transform: translate(-25%, -25%);
}

.brush {
  width: 40px;
  height: 20px;
}

.brush::after {
  background-size: 192px 48px;
  background-image: url('/brushes.png');
  background-position: 0;
  transform: translate(-10%, -24%);
}

.food {
  width: 32px;
  height: 20px;
}

.food::after {
  background-size: 48px;
  background-image: url('/food.png');
  background-position: 96px 96px;
  transform: translate(-16%, -25%);
}
